<!DOCTYPE html>
<html>
<head>
<title> Ruby on Rails </title> <img src="http://savvycomsoftware.com/wp-content/uploads/2013/09/medium_Ruby-on-Rails-A-Programmer%E2%80%99s-Best-Friend.png"   width="1325" height="250">
</head>
<body style="background-color:pink">

<h1 style="color:green;font-family:verdana"> Ruby <small>on</small> Rails </h1>
<p style="text-align:justify" title="Ruby on Rails"> <i>
Ruby on Rails, or simply Rails, is a web application framework written in Ruby under MIT License. Rails is a model–view–controller (MVC) framework, providing default 
structures for a database, a web service, and web pages. It encourages and facilitates the use of web standards such as JSON or XML for data transfer, and HTML, CSS 
and JavaScript for display and user interfacing. In addition to MVC, Rails emphasizes the use of other well-known software engineering patterns and paradigms, 
including convention over configuration (CoC), don't repeat yourself (DRY), and the active record pattern. 
</i></p> 

<h2 style="color:blue"> History </h2>
<p style="text-align:justify" title="History"><i><mark>David Heinemeier Hansson</mark> extracted Ruby on Rails from his work on the project management tool Basecamp at the web application company also called Basecamp.[4] 
Hansson first released Rails as open source in July <del>2003</del>2004, but did not share commit rights to the project until February 2005.[5] In August 2006, the framework reached
 a milestone when Apple announced that it would ship Ruby on Rails with Mac OS X v10.5 "Leopard",[6] which was released in October 2007.
</i></p>

<p style="text-align:justify" title="History"><i> Rails version 2.3 was released on March 15, 2009 with major new developments in templates, engines, Rack and nested model forms. Templates enable the developer to
 generate a skeleton application with custom gems and configurations. Engines give developers the ability to reuse application pieces complete with routes, view paths
 and models. The Rack web server interface and Metal allow one to write optimized pieces of code that route around Action Controller. </i></p>

<hr>
<a title="Reference" href="https://en.wikipedia.org/wiki/Ruby_on_Rails"> Reference </a>
<hr>
</body>
</html>

<%= link_to "quotes", quotes_path %>