<%= link_to "home", root_path %>
<!DOCTYPE html>
<html>
<head>
<title>RUBY ON RAILS</title>
</head>
<body style ="background-color:lightblue">
<h1 style = "text-align:center;color:red"><i><strong>QUOTES</strong></i> - Ruby on Rails</h1>
<b><p style = "text-align:center">
“Rails is the most well thought-out web development framework I’ve ever used.<br>
And that’s in a decade of doing web applications for a living. I’ve built my<br>
own frameworks, helped develop the Servlet API, and have created more than<br>
a few web servers from scratch. Nobody has done it like this before.”<br>
<i>– James Duncan Davidson, Creator of Tomcat and Ant</i></p>
<hr>
<p style= "text-align:center">“Ruby on Rails is a breakthrough in lowering the barriers of entry to programming.<br>
Powerful web applications that formerly might have taken weeks or months<br>
to develop can be produced in a matter of days.”<br>
<i>– Tim O’Reilly, Founder of O’Reilly Media</i></p>
<hr>
<p style= "text-align:center">“It is impossible not to notice Ruby on Rails. It has had a huge effect both in<br>
and outside the Ruby community... Rails has become a standard to which even<br>
well-established tools are comparing themselves to.”<br>
<i>– Martin Fowler, Author of Refactoring, PoEAA, XP Explained</i></p>
<hr>
<p style= "text-align:center">“What sets this framework apart from all of the others is the preference for<br>
convention over configuration making applications easier<br>
to develop and understand.”<br>
<i>– Sam Ruby, ASF board of directors</i></p>
<hr>
<p style= "text-align:center">“Before Ruby on Rails, web programming required a lot of verbiage, steps and time.<br>
Now, web designers and software engineers can develop a website<br>
much faster and more simply, enabling them to be more productive<br>
and effective in their work.”<br>
<i>– Bruce Perens, Open Source Luminary</i></p>
<hr>
<p style= "text-align:center">“After researching the market, Ruby on Rails stood out as the best choice.<br>
We have been very happy with that decision. We will continue<br>
building on Rails and consider it a key business advantage.”<br>
<i>– Evan Williams, Creator of Blogger and ODEO</i></p>
<hr>
<p style= "text-align:center">“Ruby on Rails is astounding. Using it is like watching a kung-fu movie,<br>
where a dozen bad-ass frameworks prepare to beat up the little newcomer<br>
only to be handed their asses in a variety of imaginative ways.”<br>
<i>– Nathan Torkington, O’Reilly Program Chair for OSCON</i></p>
<hr>
<p style= "text-align:center">“Rails is the killer app for Ruby.”<br>
<i>– Yukihiro Matsumoto, Creator of Ruby</i></p></b>
</body>
</html>

